<%- layout("/layouts/boilerplate") %>

<div class="container m-5 d-flex">

    <div class="main1 mt-5">
        <h1 class="display-4 fw-bold">Manage Your <i style="color:#74C0FC; font-size:5rem;">Expenses</i> Easily</h1>
        <p class="lead text-muted"><i>Track your spending and take control of your finances.</i></p>
        <a href="/add" class="btn btn-primary btn-lg mt-3">Add New Transaction</a>
        
        <a href="/budget/Comparison" class="btn btn-success btn-lg mt-3">Get Budget Insights</a>
    </div>
    
    <Div class="m-3">
        <div class="text-center my-4">
            <img src="/assets/plan.jpg" class="animated-image" alt="Plan">
          </div>       
    </Div>
   
</div>
