<%- layout("/layouts/boilerplate") %>

<div class="container mt-5">
    <div class="row align-items-center d-flex flex-column flex-md-row">

        
        <div class="col-md-6 text-center mt-4 mt-md-0">
            <img src="/assets/plan.jpg" class="img-fluid animated-image" alt="Plan">
        </div>


        <div class="col-md-6 text-center text-md-start colchange">
            <h1 class="display-4 fw-bold">Manage Your 
                <i style="color:#74C0FC; font-size:4rem;">Expenses</i> Easily
            </h1>
            <p class="lead text-muted"><i>Track your spending and take control of your finances.</i></p>
            <a href="/add" class="btn btn-primary btn-lg mt-3">Add New Transaction</a>
            <a href="/budget/Comparison" class="btn btn-success btn-lg mt-3">Get Budget Insights</a>
        </div>

    </div>
</div>
